<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localhost.nugets" value="C:\WORK\NUGET\" />
  </packageSources>
  <!-- <packageSourceMapping> -->
  <!--   ~1~ key value for <packageSource> should match key values from <packageSources> element @1@ -->
  <!--   ~1~ <packageSource key="nuget.org"> @1@ -->
  <!--   ~1~   <package pattern="*" /> @1@ -->
  <!--   ~1~ </packageSource> @1@ -->
  <!-- </packageSourceMapping> -->
</configuration>
