<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <Playwright>
    <BrowserName>edge</BrowserName>
    <LaunchOptions>
      <Headless>true</Headless>
    </LaunchOptions>
  </Playwright>
  <RunConfiguration>
    <EnvironmentVariables>
      <BASE_URL>http://localhost:53798</BASE_URL>
      <ADMINISTRATION_USER>administrator</ADMINISTRATION_USER>
      <ADMINISTRATION_PASSWORD>administrator</ADMINISTRATION_PASSWORD>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
